* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}


html {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.LoginButton {
  border-radius: 8px;
  font-family: inherit;
  background-color:#7b0f24;
  outline: grey; 
  cursor: pointer;
  transition: border-color 0.25s;
  height: 5vh; 
  width: 20vw; 
  margin-bottom: 4vh; 
  color: white; 
  font-size: 24px; 
  font-weight: bold; 
}


/* would be wise to merge the Email/password components together
at some point, and then just have one class to apply all these too. 
for now, there is some duplication but still enough variation to keep
them seperate */

.Email {
  background-color: white; 
  color: rgb(53, 53, 53); 
  border-top: hidden; 
  border-left: hidden; 
  border-right: hidden; 
  width: 20vw; 
  height: 5vh; 
  font-size: 18px; 
  font-weight: bold; 
  margin-top: 10vh; 
}

.Password { 
  background-color: white; 
  color: rgb(53, 53, 53); 
  border-top: hidden; 
  border-left: hidden; 
  border-right: hidden; 
  width: 20vw; 
  height: 5vh; 
  font-size: 18px; 
  font-weight: bold;
  margin-bottom: 3vh; 
}



.MainComponent {
  min-width: 100vw; 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: flex-start;
  background-color:#f9f6f6; 
}

.LoginParent {

  background-color: #ffffff; 
  width: 60vh; 
  height: 40vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center; 
  translate: 33vw -35vh; 
  border-radius: 20px; 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.35);; 

}

.MainHeader {
  background-color:#7b0f24 ;
  height: 10.66vh; 
  width: 100vw; 
  display: flex;
  justify-content: left; 
}

.LogoParent {
  display: flex;
  justify-content: center; 
}

